<div class="product-buy-area vpadding-10 hflex">
  <div class="btn-group" role="group" aria-label="Кількість">
    <div data-id="<%= product_id %>" class="productDecrement hpadding-5 content-alignment-center left-rounded vflex-center">
      <i class="fas fa-minus"></i>
    </div>
    <input type="text" class="productEditableCount product-quantity fs-sm content-alignment-center integerField" style="max-width: 50px" value="0" data-id="<%= product_id %>" />
    <div data-id="<%= product_id %>" class="productIncrement hpadding-5 content-alignment-center right-rounded vflex-center">
      <i class="fas fa-plus"></i>
    </div>
  </div>
</div>