.vflex, .hflex, .vflex-start, .hflex-start, .vflex-center, .hflex-center, .vflex-end, .hflex-end {
  display: flex;
}

.vflex, .vflex-start, .vflex-center, .vflex-end {
  flex-direction: column;
}

.hflex, .hflex-start, .hflex-center, .hflex-end {
  flex-direction: row;
}

.vflex-start, .hflex-start {
  justify-content: flex-start;
}

.vflex-center, .hflex-center {
  justify-content: center;
}

.vflex-end, .hflex-end {
  justify-content: flex-end;
}

.full-flex {
  flex-grow: 1;
}

.color-wh {
  color: white !important;
}

.full-height {
  overflow: auto;
  height: 100%;
}

.full-width {
  overflow: auto;
  width: 100%;
}

.no-border {
  border-top: none !important;
  border-left: none !important;
  border-right: none !important;
  border-bottom: none !important;
}

.bordered-bottom, .bordered-bottom-constantly {
  background-color: transparent;
  border: none;
  border-bottom: 1.5px solid var(--main-color);
  transition: border-bottom-color 0.5s;
}

.bordered-bottom:focus, .bordered-bottom-constantly:focus {
  outline: none;
  border-bottom-color: var(--dark-main-color)
}

.bordered-bottom-constantly {
  border-bottom-color: var(--dark-main-color);
}

.vmargin-5 {
  margin-top: 5px;
  margin-bottom: 5px;
}

.vmargin-10 {
  margin-top: 10px;
  margin-bottom: 10px;
}

.vmargin-20 {
  margin-top: 20px;
  margin-bottom: 20px;
}

.vmargin-40 {
  margin-top: 40px;
  margin-bottom: 40px;
}

.vmargin-50 {
  margin-top: 50px;
  margin-bottom: 50px;
}

.hmargin-5 {
  margin-left: 5px;
  margin-right: 5px;
}

.hmargin-10 {
  margin-left: 10px;
  margin-right: 10px;
}

.hmargin-20 {
  margin-left: 20px;
  margin-right: 20px;
}

.hmargin-40 {
  margin-left: 40px;
  margin-right: 40px;
}

.hmargin-50 {
  margin-left: 50px;
  margin-right: 50px;
}

.vpadding-5 {
  padding-top: 5px;
  padding-bottom: 5px;
}

.vpadding-10 {
  padding-top: 10px;
  padding-bottom: 10px;
}

.vpadding-20 {
  padding-top: 20px;
  padding-bottom: 20px;
}

.vpadding-40 {
  padding-top: 40px;
  padding-bottom: 40px;
}

.vpadding-50 {
  padding-top: 50px;
  padding-bottom: 50px;
}

.hpadding-5 {
  padding-left: 5px;
  padding-right: 5px;
}

.hpadding-10 {
  padding-left: 10px;
  padding-right: 10px;
}

.hpadding-20 {
  padding-left: 20px;
  padding-right: 20px;
}

.hpadding-40 {
  padding-left: 40px;
  padding-right: 40px;
}

.hpadding-50 {
  padding-left: 50px;
  padding-right: 50px;
}

.hmargin-50n {
  margin-right: -50px;
  margin-left: -50px;
}

.vmargin-50n {
  margin-top: -50px;
  margin-bottom: -50px;
}

.hpadding-50n {
  padding-right: -50px;
  padding-left: -50px;
}

.vpadding-50n {
  padding-top: -50px;
  padding-bottom: -50px;
}

.mt-10 {
  margin-top: 10px;
}

.pt-10 {
  padding-top: 10px;
}

.red-circle {
  background-color: var(--dark-danger);
  border-radius: 50%;
  text-align: center;
  color: white;
  box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.2);
}

.circle-small {
  width: 15px;
  height: 15px;
  font-size: 10px;
}

.display-rt {
  position: absolute;
  right: 0px;
  top: 0px
}

.parallax-element {
  background-attachment: fixed !important;
}

.cover-background {
  background-size: cover !important;
}

.content-alignment-left {
  text-align: left;
}

.content-alignment-center {
  text-align: center;
}

.content-alignment-right {
  text-align: right;
}

.content-alignment-justify {
  text-align: justify;
}

.no-padding {
  padding: 0px !important;
}

.no-margin {
  margin: 0px !important;
}

.large-header {
  font-size: 40px;
  text-transform: uppercase;
  font-weight: 500;
  color: var(--main-color)
}

.crop-element {
  overflow: hidden;
}

.over-visible {
  overflow: visible;
}

.bottom-fix {
  position: fixed;
  bottom: 0;
}

.rot90 {
  transform: rotate(90deg);
}

.text-truncate {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.text-truncate-2 {
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.ratio-1-1 {
  aspect-ratio: 1/1;
}

.ratio-3-2 {
  aspect-ratio: 3/2;
  background-size: cover;
}

.shadow-gray {
  box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.2);
}

.shadow-gray-inset {
  box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.3);
}

.border-simple-20 {
  border: 1px solid var(--simple-color-20);
}

.responsive-bg-img {
  background-size: cover !important;
  background-position: center center !important;
  transition: transform 0.5s;
  background-repeat: no-repeat !important;
}

.scalable-bg-img:hover {
  transform: scale(1.1);
}

.w-10 {
  width: 10%;
}

.fs-xl {
  font-size: 36px;
}

.fs-lg {
  font-size: 28px;
}

.fs-md {
  font-size: 24px;
}

.fs-sm {
  font-size: 18px;
}

.clickable {
  cursor: pointer;
}

.invisible {
  display: none;
}

.label-required:before {
  content: "*";
  color: red;
  font-weight: bold;
  opacity: 0.7;
}

.weight-medium {
  font-weight: 500;
}

.uppercase {
  text-transform: uppercase;
}