:root {
  --background-color: #DDFFE6;
  --soft-background-color: #c8ffe7;
  --main-color: #57bc90;
  --main-color-40: #57bc9040;
  --main-color-gradient: #72ffc2;
  --dark-main-color: #015249;
  --secondary-color: #6fb3b8;
  --simple-color: green;
  --simple-color-20: rgba(0, 80, 0, 0.2);

  --navbar-height: 65px;
  --footer-height: 35px;
}