:root {
  --background-color: #DDFFE6;
  --soft-background-color: #c8ffe7;
  --main-color: #57bc90;
  --dark-main-color: #015249;
  --secondary-color: #6fb3b8;
  --simple-color: green;

  --navbar-height: 65px;
  --footer-height: 60px;
}