<div id="flowers-slider" class="shop-slider carousel carousel-slider">
  <a class="carousel-item vflex-center" href="javascript:void(0)">
    <img src="/images/slider/slide-1.png" alt="Slide 1" />
  </a>
  <a class="carousel-item vflex-center" href="javascript:void(0)">
    <img src="/images/slider/slide-2.png" alt="Slide 2" />
  </a>
  <a class="carousel-item vflex-center" href="javascript:void(0)">
    <img src="/images/slider/slide-3.png" alt="Slide 3" />
  </a>
</div>