<%= render "slider" %>

<div class="full-width content-alignment-center vmargin-20 large-header">Оберіть категорію</div>

<div class="categories-list hpadding-50 vmargin-20">
  <div class="row">
    <div class="category-container col-12 col-md-4 col-lg-4 vpadding-10 hpadding-10">
      <div class="category vflex full-height">
        <div class="crop-element full-height">
          <div class="full-height category-image" style="background: url('/images/categories/rose.png')"></div>
        </div>
        <div class="category-title vflex-center content-alignment-center vpadding-40">
          <p>Тюльпани</p>
        </div>
      </div>
    </div>
    <div class="category-container col-12 col-md-4 col-lg-4 vpadding-10 hpadding-10">
      <div class="category vflex full-height">
        <div class="crop-element full-height">
          <div class="full-height category-image" style="background: url('/images/categories/peony.png')"></div>
        </div>
        <div class="category-title vflex-center content-alignment-center vpadding-40">
          <p>Півонії</p>
        </div>
      </div>
    </div>
    <div class="category-container col-12 col-md-4 col-lg-4 vpadding-10 hpadding-10">
      <div class="category vflex full-height">
        <div class="crop-element full-height">
          <div class="full-height category-image" style="background: url('/images/categories/daisy.png')"></div>
        </div>
        <div class="category-title vflex-center content-alignment-center vpadding-40">
          <p>Ромашки</p>
        </div>
      </div>
    </div>
    <div class="category-container col-12 col-md-4 col-lg-4 vpadding-10 hpadding-10">
      <div class="category vflex full-height">
        <div class="crop-element full-height">
          <div class="full-height category-image" style="background: url('/images/categories/cloves.png')"></div>
        </div>
        <div class="category-title vflex-center content-alignment-center vpadding-40">
          <p>Гвоздики</p>
        </div>
      </div>
    </div>
    <div class="category-container col-12 col-md-4 col-lg-4 vpadding-10 hpadding-10">
      <div class="category vflex full-height">
        <div class="crop-element full-height">
          <div class="full-height category-image" style="background: url('/images/categories/rose.png')"></div>
        </div>
        <div class="category-title vflex-center content-alignment-center vpadding-40">
          <p>Тюльпани</p>
        </div>
      </div>
    </div>
    <div class="category-container col-12 col-md-4 col-lg-4 vpadding-10 hpadding-10">
      <div class="category vflex full-height">
        <div class="crop-element full-height">
          <div class="full-height category-image" style="background: url('/images/categories/peony.png')"></div>
        </div>
        <div class="category-title vflex-center content-alignment-center vpadding-40">
          <p>Півонії</p>
        </div>
      </div>
    </div>
    <div class="category-container col-12 col-md-4 col-lg-4 vpadding-10 hpadding-10">
      <div class="category vflex full-height">
        <div class="crop-element full-height">
          <div class="full-height category-image" style="background: url('/images/categories/daisy.png')"></div>
        </div>
        <div class="category-title vflex-center content-alignment-center vpadding-40">
          <p>Ромашки</p>
        </div>
      </div>
    </div>
    <div class="category-container col-12 col-md-4 col-lg-4 vpadding-10 hpadding-10">
      <div class="category vflex full-height">
        <div class="crop-element full-height">
          <div class="full-height category-image" style="background: url('/images/categories/cloves.png')"></div>
        </div>
        <div class="category-title vflex-center content-alignment-center vpadding-40">
          <p>Гвоздики</p>
        </div>
      </div>
    </div>
  </div>
</div>