<%= render "slider" %>

<div class="full-width content-alignment-center vmargin-20 large-header">Оберіть категорію</div>

<div class="categories-list hpadding-50 vmargin-5">
  <div class="row">
    <% @categories.each do |category| %>
      <div class="category-container col-6 col-sm-4 col-md-3 col-lg-2 vpadding-10 hpadding-5">
        <div class="category vflex full-height">
          <div class="crop-element full-height ratio-1-1">
            <div class="full-height responsive-bg-img scalable-bg-img category-image" style="background: url('<%= category.category_img.url %>')"></div>
          </div>
          <div class="category-title vflex-center content-alignment-center vpadding-10 text-truncate">
            <p class="no-margin"><%= category.name %></p>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>