<div class="beautiful-select-wrapper">
  <div class="beautiful-select">
    <div class="beautiful-select-trigger">
      <span>За рейтингом</span>
      <div class="arrow"></div>
    </div>
    <div class="custom-options">
      <span class="custom-option selected" data-value="by-rating">За рейтингом</span>
      <span class="custom-option" data-value="from-cheap-to-expensive">Від дешевих до дорогих</span>
      <span class="custom-option" data-value="from-expensive-to-cheap">Від дорогих до дешевих</span>
      <span class="custom-option" data-value="popular">Популярні</span>
      <span class="custom-option" data-value="promotional">Акційні</span>
    </div>
  </div>
</div>
