<div class="hflex vpadding-5">
  Від: <span id="min-value" name="a" class="hpadding-5">0</span> грн
  до: <span id="max-value" class="hpadding-5">1000</span> грн
</div>

<div id="slider" name="slider" ></div>