<div id="flowers-slider" class="carousel slide shop-slider" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#flowers-slider" data-slide-to="0" class="active"></li>
    <li data-target="#flowers-slider" data-slide-to="1"></li>
    <li data-target="#flowers-slider" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner full-height">
    <div class="carousel-item full-height active">
      <div class="d-block w-100 cover-background full-height parallax-element" style="background: url('/images/slider/slide-1.png')"></div>
    </div>
    <div class="carousel-item full-height">
      <div class="d-block w-100 cover-background full-height parallax-element" style="background: url('/images/slider/slide-2.png')"></div>
    </div>
    <div class="carousel-item full-height">
      <div class="d-block w-100 cover-background full-height parallax-element" style="background: url('/images/slider/slide-3.png')"></div>
    </div>
  </div>
</div>