<div class="star-rating user-rating hflex" rating-target="<%= target %>">
  <span>Ваша оцінка: </span>
  <div class="vflex-center clickable">
    <div class="stars hflex hmargin-10">
      <i class="empty selected"></i>
      <i class="far fa-star"></i>
      <i class="far fa-star"></i>
      <i class="far fa-star"></i>
      <i class="far fa-star"></i>
      <i class="far fa-star"></i>
    </div>
  </div>
  <div class="vflex-center">
    <i class="far fa-times-circle clickable-icon clearSelected"></i>
  </div>
  <div class="full-flex"></div>
</div>