<div class="modal fade" id="authentication-modal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content shop-modal">
      <div class="modal-header no-border">
        <h5 class="modal-title">Вхід</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="vflex-center vmargin-10">
          <div class="hflex vmargin-10">
            <div class="form-info-icon hpadding-5 vflex-center">
              <i class="fas fa-sign-in-alt fa-2x"></i>
            </div>
            <input type="text" id="login" placeholder="Логін" class="bordered-bottom full-width" autocomplete="off">
          </div>
          <div class="hflex vmargin-10">
            <div class="form-info-icon hpadding-5 vflex-center">
              <i class="fas fa-key fa-2x"></i>
            </div>
            <input type="password" id="password" placeholder="Пароль" class="bordered-bottom full-width" autocomplete="off">
          </div>
        </div>
        <div class="hflex-end">
          <button type="button" class="btn btn-info">Увійти</button>
          <div class="vflex-center hpadding-10">або</div>
          <button type="button" class="btn btn-success">Зареєструватися</button>
        </div>
      </div>
<!--      <div class="modal-footer no-border hflex-start">-->
<!--        <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрити</button>-->
<!--        <button type="button" class="btn btn-info">Увійти</button>-->
<!--      </div>-->
    </div>
  </div>
</div>