<div id="cart" class="cart dropdown">
  <div class="link-item icon-button dropdown-toggle" data-toggle="dropdown">
    <div class="countIndicator"></div>
    <i class="color-wh fas fa-shopping-cart"></i>
  </div>
  <div class="no-padding dropdown-menu dropdown-menu-right">
    <div class="cart-items-header vpadding-20">
      <div class="vflex">
        <div class="cart-items-count hflex-center"><span class="itemsTotalCount hpadding-5"></span> товарів</div>
        <div class="cart-items-sum hflex-center">
          <span>
            <span class="itemsTotalPrice"></span> грн
          </span>
        </div>
      </div>
    </div>
    <div class="cartItems cart-items-content">
      <div class="cart-item hflex hpadding-20 vpadding-10">
        <div class="cart-item-image" style="margin-right: 10px">
          <img src="/images/categories/cloves.png" alt="cloves" />
        </div>
        <div class="cart-item-details vflex full-width">
          <div class="cart-item-title text-truncate">Гвоздики червоні</div>
          <div class="cart-item-total hflex">
            <div class="cart-item-price">1<sup>50</sup> грн</div>
            <div class="cart-item-count full-flex hflex-end"><span>2<sup>00</sup> грн</span>(x2)</div>
          </div>
        </div>
      </div>
      <div class="cart-item hflex hpadding-20 vpadding-10">
        <div class="cart-item-image" style="margin-right: 10px">
          <img src="/images/categories/daisy.png" alt="cloves" />
        </div>
        <div class="cart-item-details vflex full-width">
          <div class="cart-item-title text-truncate">Півонії</div>
          <div class="cart-item-total hflex">
            <div class="cart-item-price">299<sup>99</sup> грн</div>
            <div class="cart-item-count full-flex hflex-end"><span>1000<sup>50</sup> грн</span>(x10)</div>
          </div>
        </div>
      </div>
      <div class="cart-item hflex hpadding-20 vpadding-10">
        <div class="cart-item-image" style="margin-right: 10px">
          <img src="/images/categories/peony.png" alt="cloves" />
        </div>
        <div class="cart-item-details vflex full-width">
          <div class="cart-item-title text-truncate">Ромашки</div>
          <div class="cart-item-total hflex">
            <div class="cart-item-price">18<sup>50</sup> грн</div>
            <div class="cart-item-count full-flex hflex-end"><span>62<sup>00</sup> грн</span>(x10)</div>
          </div>
        </div>
      </div>
      <div class="cart-item hflex hpadding-20 vpadding-10">
        <div class="cart-item-image" style="margin-right: 10px">
          <img src="/images/categories/rose.png" alt="cloves" />
        </div>
        <div class="cart-item-details vflex full-width">
          <div class="cart-item-title text-truncate">Троянди прекрасні</div>
          <div class="cart-item-total hflex">
            <div class="cart-item-price">10<sup>50</sup> грн</div>
            <div class="cart-item-count full-flex hflex-end"><span>10<sup>00</sup> грн</span></div>
          </div>
        </div>
      </div>
      <div class="cart-item hflex hpadding-20 vpadding-10">
        <div class="cart-item-image" style="margin-right: 10px">
          <img src="/images/categories/cloves.png" alt="cloves" />
        </div>
        <div class="cart-item-details vflex full-width">
          <div class="cart-item-title text-truncate">Конвалії</div>
          <div class="cart-item-total hflex">
            <div class="cart-item-price">99<sup>99</sup> грн</div>
            <div class="cart-item-count full-flex hflex-end"><span>150<sup>00</sup> грн</span>(х3)</div>
          </div>
        </div>
      </div>
      <div class="cart-item hflex hpadding-20 vpadding-10">
        <div class="cart-item-image" style="margin-right: 10px">
          <img src="/images/categories/peony.png" alt="cloves" />
        </div>
        <div class="cart-item-details vflex full-width">
          <div class="cart-item-title text-truncate">Нарциси</div>
          <div class="cart-item-total hflex">
            <div class="cart-item-price">5<sup>99</sup> грн</div>
            <div class="cart-item-count full-flex hflex-end"><span>16<sup>00</sup> грн</span>(x4)</div>
          </div>
        </div>
      </div>
      <div class="cart-item hflex hpadding-20 vpadding-10">
        <div class="cart-item-image" style="margin-right: 10px">
          <img src="/images/categories/daisy.png" alt="cloves" />
        </div>
        <div class="cart-item-details vflex full-width">
          <div class="cart-item-title text-truncate">Айстри звичайні</div>
          <div class="cart-item-total hflex">
            <div class="cart-item-price">10<sup>00</sup> грн</div>
            <div class="cart-item-count full-flex hflex-end"><span>100<sup>10</sup> грн</span>(x4)</div>
          </div>
        </div>
      </div>
    </div>
    <div class="cart-footer hpadding-20">
      <div class="hflex-end">
        <div class="make-order-link vpadding-5">
          Оформити замовлення
        </div>
      </div>
    </div>
  </div>
</div>