<footer class="bottom-fix full-width teal lighten-1">
  <div class="hpadding-50 full-height vflex-center">
    <div class="full-width hflex">
      <div class="info-text vflex-center">
        &#169; Інтернет-магазин квітів <%= Time.new.year %>
      </div>
      <div class="info-text vflex-center full-flex content-alignment-right">
        Наші контакти: (+380) 96-385-27-41
      </div>
    </div>
  </div>
</footer>