<footer>
  <div class="container">
    <div class="row">
      <div class="full-width content-alignment-center large-header">
        Футер(Потім придумаємо)
      </div>
    </div>
  </div>
</footer>